# Logs and temp files
*.log
*.backup
*.bak
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# IDEs and Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
.kiro/

# PHPUnit & Testing
.phpunit.result.cache
/.phpunit.cache

# Dependencies & Build
/node_modules
/vendor
/public/build
/public/hot
/public/storage

# Storage & Secrets
/auth.json
/storage/*.key
/storage/oauth-*.key
/storage/pail
Homestead.json
Homestead.yaml

# SQLite Database
*.sqlite
*.sqlite-journal
